<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <!-- Main Content-->
    <main class="container py-4 px-5">
      <div class="row">
        <!-- left grid -->
        <div class="col-sm-6 px-5 py-3 text-center">
          <img src="/Assets/images/selfie.jpg" width="367" height="496" alt="">
        </div>
        <!-- right grid -->
        <div class="col-sm-6 px-5 py-3">
          <h1 class="text-center"><span class="text-primary">About Me</span></h1>
          <h5>My name is Zekun Zhang. I am currently studying Software Engineering Technology at Centennial College.
          </h5>
          <h5 class="">I am an aspiring software developer with knowledge in web development and strong passion for new
            technologies, and also an energetic
            self-starter with strong interpersonal, communication skills.</h5>
          <h5>I am in the Co-op program, so I would like to find Co-op/Intern positions
            to put my knowledge and skills in web development and software engineering into
            real busisses practice</h5>
          <h5>My Email: <a href="mailto:zzhan179@my.centennialcollege.ca"
              class="text-decoration-none">zzhan179@my.centennialcollege.ca</a></h5>
          <h5>My Phone: (519)694-0243</h5>
          <h1 class="text-center"><span class="text-primary">Resume</span></h1>
          <h5 class="text-center"><a href="/Assets/files/Resume_ZekunZhang.pdf" class="text-decoration-none">Resume
              Zekun Zhang</a></h5>
        </div>
      </div>
    </main>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>