<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <!-- Main Content-->
    <main class="container py-4 px-5">
      <div class="row">
        <!-- left grid -->
        <div class="col-sm-6 px-5 py-3">
          <h1>Hi,<br>I'am <span class="text-primary">Zekun Zhang,</span><br>Aspering Software Developer</h1>
          <h1>And your best fit<br> for <span class="text-primary">Software Development</span><br>Solutions!!!</h1>
          <div class="mx-5 my-3">
            <a class="btn btn-primary" href="/about" role="button">Know More</a>
          </div>
          <div class="mx-5 my-3">
            <a class="btn btn-primary" href="/contact" role="button">Contact Me</a>
          </div>
        </div>
        <!-- right grid -->
        <div class="col-sm-6 py-4 text-center">
          <img src="/Assets/images/selfie.jpg" width="367" height="496" alt="">
        </div>
      </div>
    </main>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>