<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>
    <!-- Main Content-->
    <main class="container-md py-4 px-5">
      <!-- h1 -->
      <h1 class="text-center text-primary">Projects</h1>
      <div class="row">
        <!-- left grid -->
        <div class="col-md py-3 px-5">
          <div class="card mb-5" style="width: 20rem;">
            <img src="/Assets/images/tasktracker.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Task Tracker</h5>
              <p class="card-text">Built a single page website using React components, state hook, and effect hook.Used
                JSON Server to set up a REST API and perform CRUD operations
              </p>
            </div>
          </div>
        </div>
        <!-- middle grid -->
        <div class="col-md py-3 px-5">
          <div class="card mb-5" style="width: 20rem;">
            <img src="/Assets/images/campgrounds.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camping Ground</h5>
              <p class="card-text">Used Node.js, Express, Bootstrap, EJS, MongoDB, and Mongoose
              </p>
              <p class="card-text">Built a website which can display, add, update and delete camping grounds
                information
              </p>
            </div>
          </div>
        </div>
        <!-- right grid -->
        <div class="col-md py-3 px-5">
          <div class="card mb-5" style="width: 20rem;">
            <img src="/Assets/images/staygreen.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Requirement Specification</h5>
              <p class="card-text">Worked in a group to write a Software Requirements Specification Document for a web
                APP StayGreen using Agile process
              </p>
              <p class="card-text">Created use cases, functional and non-functional requirements, use case diagram, UML
                class diagram, state diagram,
                sequence diagram using Visio and Lucidchart
              </p>
            </div>
          </div>
        </div>
      </div>

    </main>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>