<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <!-- Main Content-->
    <main class="container py-4 px-5">
      <h1 class="text-center text-primary">Contact</h1>
      <div class="col-6 offset-3">
        <form action="" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="(123)456-7890" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">More Information</label>
            <textarea class="form-control" id="description" name="moreinfo" rows="3" required></textarea>
          </div>
          <div class='mb-3'>
            <button class='btn btn-primary'><i class="fas fa-paper-plane"></i>Submit</button>
          </div>

        </form>
      </div>
    </main>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>