<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>
    <!-- Main Content-->
    <main class="container-md py-4 px-5">
      <h1 class="text-center text-primary">Services</h1>
      <div class="row">
        <!-- left grid -->
        <div class="col-md text-center px-5 py-3">
          <div class="card mb-5 p-2" style="width: 20rem;">
            <img src="Assets/images/website.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">Full stack web appliaction development using MEAN or MERN stack
              </p>
            </div>
          </div>
        </div>
        <!-- middle grid -->
        <div class="col-md text-center px-5 py-3">
          <div class="card mb-5 p-2" style="width: 20rem;">
            <img src="Assets/images/programming.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">General Programming</h5>
              <p class="card-text">Programming language Java, C#, Python
              </p>
            </div>
          </div>
        </div>
        <!-- right grid -->
        <div class="col-md text-center px-5 py-3">
          <div class="card mb-5 p-2" style="width: 20rem;">
            <img src="Assets/images/software-development.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Development</h5>
              <p class="card-text">Software system analysis and design and Software development lifecycle
              </p>
            </div>
          </div>
        </div>
      </div>
      <%- include partials/bottom_nav.ejs %>
        <%- include partials/footer.ejs %>